<% layout("/layouts/boilerplate.ejs") %>

  <body>
    <div class="row mt-3">
      <div class="col-8 offset-2 new-from">
        <h3>Create a new listing</h3>
        <br><br>
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
          <!-- needs-validation use for the , if the input is empty them show error .  and novalidate use for off the default validation of the browser -->

          <div class="mb-3 "> <!-- mb-3 : margin bottom 3 -->
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Enter the Title" name="listing[title]" class="form-control" required>

            <div class="valid-feedback">Title looks Good!</div>
            <div class="invalid-feedback">Enter the correct title</div>

          </div>

          <div class="mb-3">
            <label for="title" class="form-label">Description</label>
            <textarea type="text" placeholder="Enter the description" name="listing[description]" class="form-control"
              required></textarea>

            <div class="invalid-feedback">Please enter the Description</div>

          </div>

          <!-- <div class="mb-3">
            <label for="image" class="from-label">Image</label>
            <input type="text" placeholder="Enter the image Url/Link" name="listing[image]" class="form-control">
          </div> -->


          <div class="row">

            <div class="mb-3 col-md-4">
              <label for="image" class="from-label">Upload Image</label>
              <input type="file" name="listing[image]" class="form-control" required>
            </div>

            <div class="mb-3 col-md-8">
              <label for="category" class="form-label">Select the Category</label>
              <select name="listing[category]" class="form-control" required>
                <option value="">Select Category</option>
                <option value="trending">Trending</option>
                <option value="iconic_cities">Iconic cities</option>
                <option value="beach">Beach</option>
                <option value="mountain">Mountain</option>
                <option value="castle">Castle</option>
                <option value="Amazing_pool">Amazing pool</option>
                <option value="arctic">Arctic</option>
                <option value="camping">Camping</option>
                <option value="farm">Farm</option>
                <option value="luxury">Luxury</option>
                <option value="tree_house">Tree house</option>
                <option value="room">Room</option>
                <option value="house_boat">house boat</option>
                <option value="others">others</option>
              </select>
            </div>

          </div>


          <div class="row">

            <div class="mb-3 col-md-4">
              <label for="price" class="from-label">Price</label>
              <input placeholder="Enter the Price" name="listing[price]" class="form-control" required>

              <div class="invalid-feedback"> Please Enter the Price</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="Country" class="from-label">Country</label>
              <input type="text" placeholder="Enter the Country" name="listing[country]" class="form-control" required>

              <div class="invalid-feedback"> Please Enter the Country</div>
            </div>

          </div>

          <div class="mb-3">
            <label for="location" class="from-label">Location</label>
            <input type="text" placeholder="Enter the Location" name="listing[location]" class="form-control" required>

            <div class="invalid-feedback"> Please Enter the Location</div>
          </div>


          <!-- this is the hidden  input fields that stored by user by marking in the map  -->
          <input type="hidden" name="listing[geometry][type]" value="Point">
          <input type="hidden" name="listing[geometry][coordinates][0]" id="lng">
          <input type="hidden" name="listing[geometry][coordinates][1]" id="lat">

          <!-- this is the map  -->
          <div class="mb-3 map">
            <p>Marks Your location:</p>
            <div id="map"></div>
          </div>

          <button class="btn btn-dark add-btn">Add</button>
          <br><br>
        </form>


        <script>

          // this is the default map corridanate
          var map = L.map('map').setView([23.0225, 72.5714], 12);

          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19
          }).addTo(map);

          var marker;

          map.on('click', function (e) {

            if (marker) {
              map.removeLayer(marker);
            }

            marker = L.marker(e.latlng).addTo(map);

            document.getElementById("lat").value = e.latlng.lat;
            document.getElementById("lng").value = e.latlng.lng;
          });


        </script>
      </div>
    </div>
  </body>